@inject NavigationManager navigate
@inject IStorageService storageService
@inject IRestService servicioRest

<div class="container border border-2 rounded-2 bg-light">
    <div class="row mt-3 mb-3 text-center">
        <div class="col-6 mx-auto my-auto">
            <EditForm Model="@ClienteActual" OnValidSubmit="@SubirImagen">
                @if (String.IsNullOrEmpty(ClienteActual.cuenta.ImagenAvatarBASE64))
                {
                    <img src="images/imagenAvatar.jpg" class="img-thumbnail m-3" alt="ImagenPerfil1" height="200" width="200" />
                }
                else
                {
                    <img src="@ClienteActual.cuenta.ImagenAvatarBASE64" class="img-thumbnail m-3" alt="ImagenPerfil2" height="200" width="200" />
                }
                <InputFile OnChange="@CambiarImagen"></InputFile>
                <button type="submit" class="btn btn-dark m-3">Guardar imagen</button>
            </EditForm>
        </div>
        <div class="col-6 mx-auto my-auto">
            <h2 class="text-black">Información de Contacto</h2>
            <span>@ClienteActual.Nombre @ClienteActual.Apellidos /</span>
            <sapn>@ClienteActual.Telefono</sapn>
        </div>
        <div class="col">
            <span class="@ClaseMensajeServer">@MensajeError</span>
        </div>
    </div>

    <hr />

    <div class="row mt-3 mb-3 text-center">
        <div class="flex">
            <h2 class="text-black ">Libreta de Direcciones</h2>
        </div>
    </div>
    <div class="row mt-3 m-3">
        <div class="col-md-6">
            <div class="w-100 h-100">
                <h2 class="text-black"><b>Dirección de facturación predeterminada</b></h2>
                @if (!String.IsNullOrEmpty(direcPago.MuniDirecc.DMUN50))
                {
                    <table class="table table-bordered">
                        <tr>
                            <th class="text-right pr-3">Nombre:</th>
                            <td>@direcPago.NombreContacto @direcPago.ApellidosContacto</td>
                        </tr>
                        @if (!String.IsNullOrEmpty(direcPago.NombreEmpresa))
                        {
                            <tr>
                                <th class="text-right pr-3">Nombre de la Empresa:</th>
                                <td>@direcPago.NombreEmpresa</td>
                            </tr>
                        }
                        <tr>
                            <th class="text-right pr-3">Calle:</th>
                            <td>@direcPago.Calle</td>
                        </tr>
                        <tr>
                            <th class="text-right pr-3">Número:</th>
                            <td>@direcPago.Numero</td>
                        </tr>
                        <tr>
                            <th class="text-right pr-3">Ciudad:</th>
                            <td>@direcPago.MuniDirecc.DMUN50</td>
                        </tr>
                        <tr>
                            <th class="text-right pr-3">Código Postal:</th>
                            <td>@direcPago.CP</td>
                        </tr>
                        <tr>
                            <th class="text-right pr-3">País:</th>
                            <td>@direcPago.Pais</td>
                        </tr>
                        <tr>
                            <th class="text-right pr-3">Teléfono:</th>
                            <td>T: @direcPago.TelefonoContacto</td>
                        </tr>
                    </table>
                }
                else
                {
                    <span>No ha establecido una dirección de facturación predeterminada.</span>
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="w-100 h-100">
                <h2 class="text-black"><b>Dirección de envío predeterminada</b></h2>
                @if (!String.IsNullOrEmpty(direcEnvio.MuniDirecc.DMUN50))
                {
                    <table class="table table-bordered">
                        <tr>
                            <th class="text-right pr-3">Nombre:</th>
                            <td>@direcEnvio.NombreContacto @direcEnvio.ApellidosContacto</td>
                        </tr>
                        @if (!String.IsNullOrEmpty(direcEnvio.NombreEmpresa))
                        {
                            <tr>
                                <th class="text-right pr-3">Nombre de la Empresa:</th>
                                <td>@direcEnvio.NombreEmpresa</td>
                            </tr>
                        }
                        <tr>
                            <th class="text-right pr-3">Calle:</th>
                            <td>@direcEnvio.Calle</td>
                        </tr>
                        <tr>
                            <th class="text-right pr-3">Número:</th>
                            <td>@direcEnvio.Numero</td>
                        </tr>
                        <tr>
                            <th class="text-right pr-3">Ciudad:</th>
                            <td>@direcEnvio.MuniDirecc.DMUN50</td>
                        </tr>
                        <tr>
                            <th class="text-right pr-3">Código Postal:</th>
                            <td>@direcEnvio.CP</td>
                        </tr>
                        <tr>
                            <th class="text-right pr-3">País:</th>
                            <td>@direcEnvio.Pais</td>
                        </tr>
                        <tr>
                            <th class="text-right pr-3">Teléfono:</th>
                            <td>T: @direcEnvio.TelefonoContacto</td>
                        </tr>
                    </table>
                }
                else
                {
                    <span>No ha establecido una dirección de envío predeterminada.</span>
                }
            </div>
        </div>
    </div>
</div>



@code {
    public Cliente ClienteActual { get; set; } = new Cliente();

    private Direccion? direcPago = new Direccion();
    private Direccion? direcEnvio = new Direccion();

    private String MensajeError = "";
    private String ClaseMensajeServer = "";
    private String imagenBASE64 = "";


    protected override void OnInitialized()
    {
        this.ClienteActual = this.storageService.RecuperarDatosCliente();

        if (ClienteActual.MisDirecciones.Count != 0)
        {
            direcPago = ClienteActual.MisDirecciones.FirstOrDefault((Direccion d) => d.EsEnvio == true) ?? new Direccion();
            direcEnvio = ClienteActual.MisDirecciones.FirstOrDefault((Direccion d) => d.EsFaturacion == true) ?? new Direccion();
        }

    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        this.ClienteActual = this.storageService.RecuperarDatosCliente();
    }

    private async Task CambiarImagen(InputFileChangeEventArgs e)
    {
        try
        {
            IBrowserFile archivo = e.File;
            if (!archivo.Name.Equals("imagenAvatar.jpg"))
            {
                using Stream stream = archivo.OpenReadStream();
                MemoryStream memoryStream = new MemoryStream();

                await stream.CopyToAsync(memoryStream);
                this.imagenBASE64 = $"data:{archivo.ContentType};base64,{Convert.ToBase64String(memoryStream.ToArray())}";
            }
        }
        catch (Exception ex)
        {
            MensajeError = "No se ha podido subir la imagen";
        }
    }

    public async Task SubirImagen()
    {
        String jwt = this.storageService.RecuperarJWT();
        RestMessage respuestaServer = await this.servicioRest.ModificarImagenCliente(ClienteActual, this.imagenBASE64, jwt);

        switch (respuestaServer.Codigo)
        {
            case 0:
                ClienteActual.cuenta.ImagenAvatarBASE64 = this.imagenBASE64;
                this.storageService.AlmacenarDatosCliente(ClienteActual);
                this.ClaseMensajeServer = "text-success";
                this.MensajeError = "Los datos se han establecido correctamente";
                StateHasChanged();
                break;

            case 1:
                this.ClaseMensajeServer = "text-danger";
                MensajeError = respuestaServer.Mensaje;
                StateHasChanged();
                break;

            case 2:
                this.ClaseMensajeServer = "text-danger";
                MensajeError = respuestaServer.Mensaje;
                StateHasChanged();
                break;

            case 5:
                this.navigate.NavigateTo("/Cliente/Login");
                break;
        }
    }

}